
@import url('https://fonts.googleapis.com/css?family=Adamina');

:root
{
    --main-color:seagreen;
}

body 
{
    background-color:white;
    padding: 30px;
    padding-top: 35px;
}

.quote-box 
{
    margin: 0 auto;
    max-width: 750px;
    min-width: 200px;
    border-radius: 3px;
    background-color: white;
}

.quote-box__quote 
{
    text-align: left;
    font-family: 'Adamina';
    font-size: 42px;    
    font-weight:bolder;
    color:var(--main-color);
    padding:48px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote-box__tweet-me 
{
    float: right;
    background-color: var(--main-color);
    color:white;
    padding:10px;
    margin-top:10px;
    margin-right:10px;
    border-radius:3px;
}

.quote-box__button 
{
    float: right;
    background-color: var(--main-color);
    color:white;
    padding:10px;
    margin-top:10px;
    border-radius:3px;
}