

:root
{
    --main-color:seagreen;
}

body 
{
    background-color:var(--main-color);
    padding: 30px;
    padding-top: 250px;
}

.quote-box 
{
    margin: 0 auto;
    max-width: 750px;
    min-width: 200px;
    border-radius: 3px;
    background-color: white;
}

.quote-box__quote 
{
    text-align: center;
    font-size: 42px;    
    font-weight: bold;
    color:var(--main-color);
    padding:12px;
}

.quote-box__tweet-me 
{
    float: right;
    background-color: white;
    padding:10px;
    margin-top:10px;
    margin-right:10px;
    border-radius:3px;
}

.quote-box__button 
{
    float: right;
    background-color: white;
    padding:10px;
    margin-top:10px;
    border-radius:3px;
}